// global configurations
nextflow.enable.dsl=2

// Set a default location to circumvent warning of no initialized value
params {
    outfolder = '$SCRATCH/'
}

// profile dependendent configurations
profiles {
    omics {
        conda {
            enabled = true
        }
        queue = "shortterm"
        workDir = "$WORK/make_plots_nextflow_workdir"
        process {
            executor = 'slurm'
            scratch =  '$SCRATCH/' // has to be single quotes. Otherwise it gets expanded before creating a new slurm job
            //conda = "/Users/sreenivasan/miniforge3/envs/Seurat5"
            conda = "$WORK/.omics/anaconda3/envs/scVelocity"
            stageInMode = "copy"
            cpus = 1
            memory = 50.GB
            publishDir = [ path: "${params.outfolder}/make_plots/",
                        mode: 'copy',
                        overwrite: true ]
            withName: write_params {
                executor = 'local'
                cpus = 1
                memory = 128.MB
                publishDir = [ path: "${params.outfolder}",
                            mode: 'copy' ]
            }
            withLabel: large {
                memory = 200.GB
            }
        }
    }
}

